body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
    
}
.header {
    background-color: teal;
    color: white;
    padding: 10px 20px;
}
.navigation li{
    list-style: none;
    display: inline;
    padding-right: 20px;
}
h1 {
    color: turquoise;
}
main {
    vertical-align: auto;
    width: 70%;
    padding: 10px 10px;
}
nav a:link, :active, :visited {
    color: white;
    text-decoration: none;
}
nav a:hover {
    color: white;
    background-color: turquoise;
    padding: 5px;
    font-weight: 700;
}
article {
    padding: 20px;
    float: left;
    display: inline-block;
    width: 70%;
}
aside {
    padding: 20px;
    float: left;
    display: inline-block;
    width: 20%;
}
footer{
    clear: left;
}img{
    width: 100%;
}