h1,
p {
  text-align: center;
}

ol li:hover {
  background-color: chartreuse;
}
ol li:active {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

li {
  list-style: none;
}


